.person-grid-container {
  display: grid;
  grid-template-columns: .01fr 0.8fr 1.1fr 1.1fr;
  grid-template-rows: .01fr 1fr 1fr 1fr .01fr;
  gap: 1% 1%;
  grid-template-areas:
  	"gap-top gap-top gap-top gap-top"
    "gap-side info mid-content side-content-top"
    "gap-side mini-content mid-content side-content"
    "gap-side mini-content mid-content side-content"
	"gap-bottom gap-bottom mid-content side-content";
}

.info { grid-area: info; }

.mini-content { grid-area: mini-content; }

.mid-content { grid-area: mid-content; }

.side-content { grid-area: side-content; }

.side-content-top { grid-area: side-content-top; }

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.info {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.person-avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
  margin-bottom: 1em;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.side-content-top {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
}

.mini-content { 
	position: relative;
	place-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	place-content: stretch center;
}

.content-wrapper {
  direction: ltr;
  overflow: auto;
  height: 100%;
}

.content-wrapper .content-rtl {
  direction: rtl;
	width: '100%';
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 16px;
 }
 .content-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(52deg, #ebf0ff 38%,#ffffff 64%);
  border-radius: 8px;
 }
 .content-wrapper::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(52deg, #c4cbff 38%,#dbe0ff 64%);
 }


 .person-quotes-search {
	padding: 0 50px 0 .5em;
	width: 100%;
 }

@media screen and (max-width: 600px),
	   screen and (max-height: 400px) {
	.person-grid-container {
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		padding: .5em;
	}
	.info, .side-content-top, .mini-content {
		height: auto;
	}

	.person-quotes-search {
		padding: 1em .5em 0;
	}

	.mid-content .chat {
		max-height: 70vh;
		margin-bottom: 2em;
		overflow-y: auto;
	}
}