.calendar h2 {
  margin: 0;
  font-size: 16px;
}

.calendar ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.calendar li {
  margin: 1.5em 0;
  padding: 0;
}

.calendar b { /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
